
<div class="card text-center mt-2" *ngFor="let question of questions">
  <div class="card-header">
    <h3>{{question.title}}</h3>
  </div>
  <div class="card-body">
    <p class="card-title">{{question.updatedAt}}</p>
    <h5 class="card-text">{{question.description}}</h5>
    <a href="#" class="btn btn-primary">See Anwseres</a>
  </div>
  <div class="card-footer text-muted">
    <p>{{question.createdAt}}</p>
    <button class="btn btn-danger" (click)="deleteQuestion(question)">Delete Question</button>
  </div>
 
</div>