
<div class="card text-center" *ngFor="let question of questions">
  <div class="card-header">
    {{question.title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{question.updatedAt}}</h5>
    <p class="card-text">{{question.description}}</p>
    <a href="#" class="btn btn-primary">See Anwseres</a>
  </div>
  <div class="card-footer text-muted">
    {{question.createdAt}}
  </div>
  <button class="btn btn-danger" (click)="deleteQuestion(question)">Delete Question</button>
</div>